@import '/src/styles/partials/colors';

input {
  width: 100%;
  padding: 10px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid $color-neutra-8;
  outline: none;


}
input.ng-invalid.ng-touched.ng-dirty {
  background-color: rgba(255, 0, 0, 0.1);
}

input:disabled {
  opacity: .5;
}

label {
  display: block;
  font-weight: bold;
  color: $color-neutra-7;
}

small {
  display: block;
  color: $color-error;
}
