/* You can add global styles to this file, and also import other style files */
@import '/src/styles/partials/colors';

@mixin marginBottom($size) {
  margin-bottom: $size;
}

@mixin marginAll($size) {
  margin: $size;
}

@mixin displayBlockColor($color) {
  display: block;
  color: $color;
}

@mixin mainOlerlay {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  bottom: 15px;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
  margin: $space-24 $space-24 $space-24 310px;
  min-height: 100%;
  border-radius: $space-32;
  justify-content: center;
  align-items: center;
}

@mixin mainOverlayFull {
  margin: $space-8;
  height: 100%;
  width: 100%;
  border-radius: 0;
  margin: 0;
}

* {
  margin: 0;
  padding: 0;

}

body {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3 {
  color: $color-neutra-8;
}

.btn-back-img {
  width: 20px;
  position: absolute;
  bottom: 30px;
  right: 30px;
}

.container-flex-justify-between {
  display: flex;
  justify-content: space-between;
  margin: $space-16 $space-32;
}

.container-flex-align-center {
  display: flex;
  align-items: center;
}

.container-flex-justify-evenly {
  display: flex;
  justify-content: space-evenly;
}

.icon-svg-30 {
  width: 30px;
}

.m-left-16 {
  margin-left: $space-16;
}

.m-top-36 {
  margin-top: $space-36;
}


.m-bottom-36 {
  @include marginBottom($space-36);
}

.m-bottom-50 {
  @include marginBottom(50px);
}

.m-bottom-72 {
  @include marginBottom($space-36 * 2);
}

.pointer {
  cursor: pointer;
}

.m-g-16 {
  @include marginAll($space-16);
}

.m-g-36 {
  @include marginAll($space-36);
  margin: $space-36;
}

.p-top-bt-20 {
  padding: 20px 0;
}

.p-top-30 {
  padding-top: 30px;
}

.p-bottom-30 {
  padding-bottom: 30px;
}

.max-width-30-vw {
  @include marginAll(0);
  width: 30vw;
}

.max-width-30 {
  width: 50%;
}

.absolute-right-top {
  position: absolute;
  right: 50px;
  top: $space-36;
}

.error-text {
  color: $color-error;
  display: block;
  font-size: $font-size-12;
}


@media only screen and (max-width: 420px) {
  .p-top-30  {
    padding-top: 40px;
  }
  .container-flex-justify-between {
    @include marginAll($space-16);
  }

}


@media only screen and (max-width: 768px) {
  .max-width-30-vw {
    width: initial;
  }

  #car-imagem-form {
    display: none;
  }


  .max-width-30 {
    width: 90%;
  }

  .p-top-30  {
    padding-top: 40px;
  }

  .container-flex-justify-between {
    @include marginAll($space-16);
  }

}
